<%= render :partial => 'layouts/search' %>

<% content_for :bottom do  %>
  <h3> Sorry There are no rides that match your search, but here are some related rides</h3>
  <table  class = "table table-striped" id= 'ride-list' >
      <tr>
        <th >Origin</th>
        <th >Destination</th>
        <th >Date</th>
        <th >Driver</th>
      </tr>

      <% if @locations %>
        <%= render :partial => 'no_match_locations' %>
      <% elsif @rides %>
        <%= render :partial => 'no_match_rides' %>
      <% end %>

  </table>
<% end %>
