<!-- <%form_tag('/rides', :id => "form_citydetails") do %>
<div><% submit_tag 'Save', class:"search"%></div>
<% end %> -->

    <div id="rows">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="input-group mb-3">
          <form  name="form_citydetails" action= '/rides' method= "post" enctype="multipart/form-data" />
            <input class=" form-control" type="text" name="ff_nm_from[]" placeholder="Origin" value="" id="f_elem_city" />
            <input class=" form-control" type="text" name="ff_nm_from[]" placeholder="Destination" value="" id="f_elem_city_2" />
            <%= date_field_tag 'date', nil, placeholder: "date", class:'form-control', id:"input" %>
            <button class="search" >Geda Ride</button>
          </form>

        <div class="input-group-prepend">
          <div class="input-group mb-3">
          </div>
        </div>
      </div>
    </div>
