<!-- <%form_tag('/rides', :id => "form_citydetails") do %>
<div><% submit_tag 'Save', class:"search"%></div>
<% end %> -->

    <div id="rows">
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="input-group mb-3">
            <%= form_tag(rides_path, method: :get) do  %>
            <p class="animated fadeInUp delay-05s origin">Where do you want a ride from?</p>
              <%= text_field_tag 'origin', nil, placeholder: "origin", class:'form-control', id:"f_elem_city" %>
            <p class="animated fadeInUp delay-05s origin">And when?</p>

              <%= date_field_tag 'date', nil, placeholder: "date", class:'form-control', id:'ride-date'%>
              <%=submit_tag "Geda Ride", class: "search" %>
            <% end %>
        <div class="input-group-prepend">
          <div class="input-group mb-3">
          </div>
        </div>
      </div>
    </div>
