  <div class="row ">
    <div class="col-md-8 col-md-offset-2 text-center" id="header-scroll">
      <h1 class="animated fadeInDown">Geda<span>Ride</span></h1>
      <p class="animated fadeInUp delay-05s">Share Rides</p>
    </div>
  </div>
