  <div class="row ">
    <div class="col-md-8 col-md-offset-2 text-center" id="header-scroll">
      <div class ='logo'><%= link_to image_tag(asset_path("car-go.png")), home_path%></div>

    <h1 class="animated fadeInDown">Geda<span id="ride">Ride</span></h1>
      <p class="animated fadeInUp delay-05s">Share Rides</p>
    </div>
  </div>
